<div class="row">
  <div class="col-md-12 mt-3">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
          <th scope="col" class="text-center" *ngFor="let header of headerTable">
            {{header}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data;index as iRow">
          <td class="text-center align-middle">
            {{iRow + 1}}
            <!-- numero de paginacion -->
          </td>
          <ng-container *ngFor="let field of columns">
            <td style="white-space: pre-wrap" class="align-middle">
              {{row[field]}}
            </td>
          </ng-container>
          <td class="text-center">
            <button nbButton
                    [status]="'primary'"
                    nbTooltipIcon="eye"
                    nbTooltipStatus="primary"
                    nbTooltip="Ver registro"
                    nbTooltipPlacement="bottom"
                    ghost>
              <nb-icon icon="eye-outline">
              </nb-icon>
            </button>
            <button nbButton
                    [status]="'info'"
                    nbTooltipIcon="edit-2-outline"
                    nbTooltipStatus="info"
                    nbTooltip="Editar registro"
                    nbTooltipPlacement="bottom"
                    ghost>
              <nb-icon icon="edit-outline">
              </nb-icon>
            </button>
            <button nbButton
                    [status]="'danger'"
                    nbTooltipIcon="trash-2-outline"
                    nbTooltipStatus="danger"
                    nbTooltip="Eliminar registro"
                    nbTooltipPlacement="bottom"
                    ghost>
              <nb-icon icon="trash-outline">
              </nb-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
